.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px;
    padding: 10px;
    padding-left: 20px;
    background-color: antiquewhite;
    border: 3px solid rgb(87, 87, 87);
    border-radius: 10px;
    gap: 5px;
    column-gap: 20px;
}

.form-container label {
    display: inline-block;
    font-weight: bold;
    min-width: 100%;
}

input {
    width: 90%;
}

select {
    min-width: 100%;
}

.select-element {
    width: 90%;
}

.form-header {
    grid-column: span 2;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2,
p {
    display: inline;
    margin: 0;
}

p {
    float: right;
    margin-right: 10px;
    margin-top: 6px;
}

.prev-btn {
    margin-top: 25px;
    width: 100px;
    justify-self: start;
    grid-column: 1;
}

.next-btn {
    margin-top: 25px;
    width: 100px;
    justify-self: end;
    grid-column: 2;
}

.full-row {
    grid-column: span 2;
    width: 96%;
}

.visual-separator {
    grid-column: span 2;
    height: 1px;
    background-color: rgba(116, 116, 116, 0.685);
    margin: 15px 0;
}

.error {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 0 2px rgb(255, 0, 0);
    border: none;
}

@media only screen and (max-width: 1000px) {
    .form-container {
        margin: 50px;
    }
}

@media only screen and (max-width: 800px) {
    .form-container {
        margin: 0px;
    }
}
