.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px;
    padding: 10px;
    background-color: antiquewhite;
    border: 3px solid rgb(87, 87, 87);
    border-radius: 10px;
    gap: 5px;
}

.form-container label {
    display: inline-block;
    font-weight: bold;
    min-width: 100%;
}

.form-container div input,
select {
    width: 90%;
}

.form-header {
    grid-column: span 2;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2,
p {
    display: inline;
    margin: 0;
}

p {
    float: right;
    margin-right: 10px;
    margin-top: 6px;
}

.prev-btn {
    margin-top: 25px;
    width: 100px;
    justify-self: start;
    grid-column: 1;
}

.next-btn {
    margin-top: 25px;

    width: 100px;
    justify-self: end;
    /* margin-left: 300px; */
    grid-column: 2;
}

.form-container-custom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px;
    padding: 10px;
    background-color: antiquewhite;
    border: 3px solid rgb(87, 87, 87);
    border-radius: 10px;
    gap: 5px;
}

.form-container-custom label {
    font-weight: bold;
}

.form-container-custom div input,
select {
    display: inline-block;
    font-weight: bold;
    min-width: 100%;
}

.full-row {
    grid-column: span 2;
}

.visual-separator {
    grid-column: span 2;
    height: 1px;
    background-color: rgba(116, 116, 116, 0.685);
    margin: 15px 0;
}
